<!DOCTYPE html>
<html lang="en" data-theme="night">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body>
    <div class="p-6">
        <h2 class="text-xl font-bold border-b pb-2">Final Bill</h2>
        <div id="bill-summary" class="py-4"></div>
        <div class="text-2xl font-bold text-warning flex justify-between">
            <span>Total</span><span id="grand-total">0฿</span>
        </div>
        <button onclick="location.href='review.html'" class="btn btn-warning btn-block mt-10">Pay Now</button>
    </div>
    <script src="/customer/public/js/payment.js"></script>
</body>

</html>