<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Home Page</title>
</head>

<body class="min-h-screen">
    <main class="flex justify-center items-center h-screen bg-gray-100">
        <div class="space-y-4">
            <h1 class="text-3xl font-bold text-center">Home Page</h1>
            <a href="/admin" class="btn btn-warning w-full">Admin</a>
            <a href="/cook" class="btn btn-warning w-full">Cook</a>
            <a href="/customer" class="btn btn-warning w-full">Customer</a>
        </div>
    </main>
</body>

</html>